.username {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.username div {
    font-style: italic;
    background: var(--inactive-color);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    text-align: center;
    padding: 6px;

}

input {
    background: var(--offwhite-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
}