.page-container {
    display: flex;
    flex-direction: column;
}

.page-title {
    margin-bottom: 3rem;
}

.radio-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.radio-wrapper > * {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
}

.client-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.client-content > * {
    width: 400px;
}

/*.retrieve-data {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 1px solid var(--primary-color);*/
/*    border-radius: var(--border-radius);*/
/*    background: var(--offwhite-color);*/
/*    gap: 1rem;*/
/*    padding: 1rem;*/
/*}*/

/*.retrieve-data > * {*/
/*    background: var(--primary-color);*/
/*    color: var(--offwhite-color);*/
/*    border: 1px solid var(--primary-color);*/
/*    border-radius: var(--border-radius);*/
/*    text-align: center;*/
/*    padding: 1rem;*/
/*    gap: 1rem;*/
/*}*/


/*.update-button {*/
/*      background: var(--primary-color);*/
/*      color: var(--offwhite-color);*/
/*      border: 1px solid var(--primary-color);*/
/*      border-radius: var(--border-radius);*/
/*      text-align: center;*/
/*      padding: 1.2rem;*/
/*  }*/

/*.update-data {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 1px solid var(--primary-color);*/
/*    border-radius: var(--border-radius);*/
/*    background: var(--offwhite-color);*/
/*    gap: 1rem;*/
/*    padding: 1rem;*/
/*}*/

/*input {*/
/*    background: var(--offwhite-color);*/
/*    color: var(--primary-color);*/
/*    border: 1px solid var(--primary-color);*/
/*    border-radius: var(--border-radius);*/
/*    text-align: center;*/
/*    padding: 0.5rem;*/
/*}*/

/*#update {*/
/*    background: var(--primary-color);*/
/*}*/




